<div id="home" data-role="page">
  <div data-role="header">
    <h1>XXXX Mobile</h1>
  </div>
  <div role="main">
    <div id="tabs" data-role="tabs" class="ui-content">
      <div data-role="navbar">
        <ul>
          <li><a href="#step" class="ui-btn-active">歩数</a></li>
          <li><a href="#weight">体重</a></li>
          <li><a href="#xxxx">XXXX</a></li>
        </ul>
      </div>
      <div id="step" class="ui-body ui-body-a">
        <ul data-role="listview">
          <li>
          <p>2014/4/2 (水)右寄せ</p>
            <center>2001文字大きく</center>
          </li>
          <li>
            <p>2014/4/1 (水)</p>
            <p>2001</p>
          </li>
          <li>
            <p>2014/3/31 (水)</p>
            <p>2001</p>
          </li>
          <li>
            <p>2014/3/30 (水)</p>
            <p>2001</p>
          </li>
          <li>
            <p>2014/4/2 (水)</p>
            <p>2001</p>
          </li>
        </ul>
      </div>
      <div id="weight" class="ui-body ui-body-a">
        <p>Knockout</p>
      </div>
      <div id="xxxx" class="ui-body ui-body-a">
        <p>その他</p>
      </div>
    </div>
  </div>
  <div data-role="content">
    <p>jQuery Mobileサンプル</p>
    <a data-role="button" data-transition="slide" href="#next">Next</a>
  </div>
</div>

<div id="next" data-role="page">
  <div data-role="header">
    <a data-role="button" data-transition="slide" href="#home" data-rel="back">Back</a>
    <h1>Next</h1>
  </div>
  <div data-role="content">
    <p>次のページです</p>
  </div>
</div>
